$color-black: #000000;
$color-blue: #282d7d;
$color-blue-link: #0099ff;
$color-white: #ffffff;
$color-green: #bad216;
$color-green-dark: #778802;
$color-purple: #7076ca;
$color-gray-dark: #7d7d7d;
$color-gray: #c3c4c6;
$color-gray-light: #eeeeee;
$color-box-gray: #f4f4f4;
$color-gray-lighter: #dcdcdc;